.audio-message {
  max-width: 352px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--ui-border-gray);
  border-radius: 48px;
  padding: 8px 18px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 12px;

  &__time {
    font-weight: 400;
    font-size: 15px;
    line-height: 21.75px;
  }

  &__player {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 9px;
  }

  &__progress-bar {
    flex: 1;
    height: 4px;
    background-color: var(--border-color);
    border-radius: 2px;
    max-width: 164px;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.button {
  cursor: url("../../../assets/icons/ui/cursor.svg"), auto;
  display: flex;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
  }

  &--play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-white);

    img {
      width: 12px;
      height: 10px;
    }
  }

  &--cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  &--download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }
}

.button--download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  &:hover .download-icon {
    color: #002cfb;
  }
}

.download-icon {
  color: #adbfdf;
  transition: color 0.2s ease;
}
