.calls-table-container {
  background: var(--color-white);
  border-radius: 8px;
}

.calls-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.calls-table__group-row {
  background-color: transparent;
}

.calls-table__group-cell {
  padding: 40px 40px 16px 40px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 40px;
    right: 0;
    bottom: 0;
    height: 1px;
    background: var(--ui-border-gray);
  }
}

.calls-table__group-header {
  display: flex;
  align-items: center;
}

.calls-table__group-label {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.calls-table__group-count {
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: var(--ui-text-header);
  position: relative;
  bottom: 5px;
  left: 4px;
}
