@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* Курсивные  */
@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay-UltraLightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}
