@forward "fonts";
@forward "variables";
@forward "reset";

:root {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: var(--text-color);
  background-color: var(--color-gray-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
