.table-header {
  width: 100%;
}

.table-header__row {
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 40px;
    right: 0;
    bottom: 0;
    height: 1px;
    background: var(--ui-border-gray);
  }
}

.table-header__cell {
  position: relative;
  box-sizing: border-box;
  text-align: left;
  padding: 24px 0 20px 0;
  font-size: 14px;
  color: #899cb1;
  font-weight: 500;
}

.table-header__text {
  display: flex;
  align-items: center;
  gap: 4px;
}

.table-header__icon {
  cursor: pointer;
  width: 10px;
  height: 6px;
}

/* Фиксированные ширины */
/* Тип */
.table-header__cell:nth-child(1) {
  width: 94px;
  padding-left: 40px;
}

/* Время */
.table-header__cell:nth-child(2) {
  width: 88px;
}

/* Сотрудник */
.table-header__cell:nth-child(3) {
  width: 129px;
}

/* Звонок */
.table-header__cell:nth-child(4) {
  width: 325px;
}

/* Источник */
.table-header__cell:nth-child(5) {
  width: 214px;
}

/* Оценка */
.table-header__cell:nth-child(6) {
  width: 461px;
}

/* Длительность */
.table-header__cell:nth-child(7) {
  width: 130px;
  text-align: left;
  padding-right: 40px;
  position: relative;
}
