.table-header {
  width: 100%;
}

.table-header__row {
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 0;
    height: 1px;
    background: #e0e6ee;
  }
}

.table-header__cell {
  box-sizing: border-box;
  text-align: left;
  padding: 24px 0 20px 0;
  font-size: 14px;
  color: #899cb1;
  font-weight: 500;
}

/* Фиксированные ширины */
.table-header__cell:nth-child(1) {
  width: 54px; /* Тип */
  // padding-left: 40px;
}

.table-header__cell:nth-child(2) {
  width: 88px; /* Время */
}

.table-header__cell:nth-child(3) {
  width: 129px; /* Сотрудник */
}

.table-header__cell:nth-child(4) {
  width: 325px; /* Звонок */
}

.table-header__cell:nth-child(5) {
  width: 214px; /* Источник */
}

.table-header__cell:nth-child(6) {
  width: 461px; /* Оценка */
}

.table-header__cell:nth-child(7) {
  width: 128px; /* Длительность */
  text-align: left;
  padding-right: 40px;
}
