.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}

span {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

// .bad {
//   background-color: red;
// }

// .good {
//   background-color: white;
// }

.excellent {
  background-color: #dbf8ef;
  color: #00a775;
}
