.date-dropdown {
  position: absolute;
  top: 30px;
  right: -10px;
  margin-top: 8px;
  width: 204px;
  background-color: var(--color-white);
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 0px 0px 26px 0px #e9edf3cc;
  z-index: 10;

  list-style: none;
  margin: 0;
  padding: 0;
}

.date-dropdown__option {
  color: var(--ui-text-header);
  height: 40px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    color: var(--color-gray-dark);
    background-color: var(--color-gray-bg);
    transition: all 0.2s ease;
  }
}

.date-dropdown__option--active {
  background-color: var(--color-gray-bg);
  color: var(--ui-blue);
}

.date-dropdown__custom-label {
  height: 40px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 28px;
  color: var(--ui-text);
  cursor: default;
}

.date-dropdown__custom-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 8px 12px;
  background-color: var(--color-white);
  border-radius: 4px;
}

.date-dropdown__input {
  width: 60px;
  font-size: 14px;
  border-radius: 4px;
  color: var(--ui-icon);
  text-align: center;
}

.date-dropdown__custom-picker input::placeholder {
  color: var(--ui-icon);
}

.date-dropdown__separator {
  color: var(--ui-icon);
}

.date-dropdown__apply-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.date-dropdown__icon {
  width: 100%;
  height: 100%;
  color: var(--ui-icon);

  &:hover {
    color: var(--ui-blue);
    transition: all 0.2s ease;
  }
}
